name: "Terraform plan"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "terragrunt/**"
      - ".github/workflows/**"
env:
  TERRAFORM_VERSION: 1.9.8
  TERRAGRUNT_VERSION: 0.68.2
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_TF_STATE_SUBSCRIPTION_ID: ${{ secrets.ARM_TF_STATE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  AZURE_RESOURCES_RESOURCE_GROUP_NAME: ${{ secrets.AZURE_RESOURCES_RESOURCE_GROUP_NAME }}
  AZURE_RESOURCES_STORAGE_ACCOUNT_NAME: ${{ secrets.AZURE_RESOURCES_STORAGE_ACCOUNT_NAME }}
  TF_VAR_sre_email: ${{ secrets.SRE_EMAIL }}
  TF_VAR_security_email: ${{ secrets.SECURITY_EMAIL }}

permissions:
  id-token: write
  contents: read
  pull-requests: write
  
jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Terraform
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

        # Log into Azure
      - name: Azure Login using OIDC
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          tenant-id: ${{ env.ARM_TENANT_ID }}
          client-id: ${{ env.ARM_CLIENT_ID }}
          subscription-id: ${{ env.ARM_TF_STATE_SUBSCRIPTION_ID}}

      - name: Terraform plan
        uses: cds-snc/terraform-plan@39b0058bcf977fbd8b067b84d5a9f6165e356c32 # v3.7.0
        env:
          ARM_USE_OIDC: true
          RESOURCE_GROUP_NAME: ${{ env.AZURE_RESOURCES_RESOURCE_GROUP_NAME}}
          STORAGE_ACCOUNT_NAME: ${{ env.AZURE_RESOURCES_STORAGE_ACCOUNT_NAME}}
        with:
          comment-delete: true
          comment-title: Terraform Plan
          plan-character-limit: 100000
          directory: ./terragrunt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          terragrunt: true